@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  margin: 0;
  padding: 0;

}

.chat-wrapper {
  font-family: "Press Start 2P";
  font-size: 10px;
  border: solid grey;
  border-width: medium;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.speech-button {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  background-color: #ffffff40;
}

.messages {
  max-width: 30%;
  padding: 20px;
  margin:20px;
  margin-bottom: 10px;
  border:1px solid #6894A1;
  border-radius: 8px;
}

.messages-other {
  display: inline-block;
  max-width: 40%;
  padding: 20px;
  margin:20px;
  margin-bottom: 10px;
  border:1px solid #ffe28a;
  border-radius: 14px;

}

.fromMe-messages {
  /* display: flex;
  justify-content: flex-start; */
}

.fromMe-messages-other {
  display: flex;
  justify-content: flex-end;
}

.spinner {
  padding-top: 30px;
}

.dimmer {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.dimmer-first {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  align-items: baseline;
  justify-content: space-between;

}

.dimmer-p {
  margin-right: 50px;
}

.dimmer-header {
margin-bottom: 80px;
}

.dimmer-icon {
  padding-right: 120px;
}
.dimmer-icon-translate {
  padding-right: 130px;
}

.images {
  margin: 10px;
}
.logos {
  margin-left: 50px;
  padding-top: 50px;
  margin-bottom: 35px;
}

.header-flag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.each-header-flag {
  display: flex;
  flex-direction: row;
  margin-right: 200px;
  align-items: baseline;
}
.flag-p {
  margin-right: 10px;
}
